---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
  
// Custom styles to override post title color and remove underline on the main page
.archive__item-title a {
    color: black;
    text-decoration: none;
  }
  
  .archive__item-title a:hover {
    text-decoration: underline;
  }

  .page__content {
    font-size: 18px; /* Adjust the font size as needed */
  }